/accounts/migrations/
/core/migrations/
/socios/migrations/
/asistencia/migrations/
/payments/migrations/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode / PyCharm
.vscode/
.idea/

# Environments
.env
venv/
env/
env_*/

