/accounts/migrations/
/core/migrations/
/socios/migrations/
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode / PyCharm
.vscode/
.idea/

# Environments
.env
venv/
env/
env_*/
# Migraciones (ignorar todas excepto __init__.py)
**/migrations/*
!**/migrations/__init__.py

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
